@use 'variables' as v;

.header {
  padding: 1.3rem;
  justify-content: start;
  border-bottom: 1px solid rgba(129, 129, 129, 0.17);

  &__topbar {
    justify-content: space-between;

    &-input {
      gap: 0.5rem;
      border-bottom: 1px solid black;
      input {
        border: none;
        outline: none;
        font-size: 1rem;
        font-family: 'Work Sans', sans-serif;
        padding: 0.2rem;
        width: 10rem;
      }
      img {
        margin-bottom: 0.3rem;
      }
    }

    &-logo {
      img {
        width: 8rem;
      }
    }
    &-actions {
      gap: 0.6rem;
      &-account {
        gap: 1.5rem;
        margin-right: 2rem;
        position: relative;
        p {
          cursor: pointer;
        }
        .line {
          position: absolute;
          width: 1px;
          height: 1rem;
          background-color: black;
          top: 50%;
          left: 42%;
          transform: translate(-50%, -50%);
        }
      }
      &-shop {
        gap: 0.6rem;
        img {
          width: 1.25rem;
          cursor: pointer;
        }
      }
      &-menu {
        position: relative;
        i {
          font-size: 1.5rem;
          cursor: pointer;
        }
        ul {
          position: absolute;
          top: 3rem;
          right: 0;
          padding: 1rem;
          border-radius: 0.2rem;
          gap: 0.7rem;
          background-color: white;
          box-shadow: 3px 2px 0px 3px rgba(0, 0, 0, 0.09);
          li {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__input {
    width: max-content;
    margin-inline: auto;
    margin-top: 1.5rem;
    gap: 0.5rem;
    border-bottom: 1px solid black;
    input {
      border: none;
      outline: none;
      font-size: 1rem;
      font-family: 'Work Sans', sans-serif;
      padding: 0.2rem;
    }
    img {
      margin-bottom: 0.3rem;
      width: 1rem;
    }
  }

  &__links {
    ul {
      gap: 0rem;
      justify-content: space-between;
      width: 85%;
      li {
        cursor: pointer;
      }
    }
  }
}

.hero {
  background-image: url(../images/hero-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.shopping-now {
  background-color: v.$lime;
  justify-content: center;
  padding: 1rem;
  p {
    font-weight: 700;
  }
}

.new-in {
  text-align: center;
  margin-top: 5rem;
  position: relative;
  .arrow-left {
    position: absolute;
    top: 50%;
    left: 4%;
    cursor: pointer;
  }
  .arrow-right {
    position: absolute;
    top: 50%;
    right: 4%;
    cursor: pointer;
  }
  .line-left {
    position: absolute;
    background-color: v.$lime;
    width: 70%;
    height: 0.1rem;
    top: 0.6rem;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .line-right {
    position: absolute;
    background-color: v.$lime;
    width: 51%;
    height: 0.1rem;
    top: 0.6rem;
    right: -40%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    margin-top: 2.5rem;
    gap: 2.35rem;
    .new-in__card {
      .wishlist {
        width: 1rem;
        position: absolute;
        top: 60%;
        left: 74%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      img {
        width: 9rem;
      }
      &-data {
        margin-top: 1.5rem;
        gap: 0.25rem;
        position: relative;
        max-width: 550px;
        margin-inline: auto;
        .jacket {
          letter-spacing: 0.2rem;
        }
        .manufacturer {
          color: #777;
          margin-top: 0.3rem;
        }
        .button {
          position: relative;
          button {
            font-family: 'Work Sans', sans-serif;
            margin-top: 0.3rem;
          }
          .underline {
            position: absolute;
            width: 4.5rem;
            height: 0.1rem;
            background-color: v.$lime;
            top: 130%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.outerwear {
  background-image: url(../images/outwear.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skis {
  background-image: url(../images/skis.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.knitwear {
  background-image: url(../images/knitwear.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &:after {
    content: '' !important;
    position: absolute !important;
    background-color: #e2ff04bc !important;
    z-index: 5 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.accessories {
  background-image: url(../images/accessories.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.goggles {
  background-image: url(../images/goggles.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jackets {
  background-image: url(../images/jackets.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.presentation {
  margin-top: 5rem;
  gap: 2rem;
  &__card {
    width: 20rem;
    height: 17rem;
    margin-inline: auto;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.253);
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    h2 {
      font-weight: 400;
      z-index: 6;
    }
    &-button {
      border-bottom: 2px solid white;
      gap: 1rem;
      padding: 0.3rem 0;
      z-index: 6;
      margin-top: 0.3rem;
      button {
        color: white;
        font-family: 'Work Sans', sans-serif;
      }
    }
  }
}

.best-sellers {
  text-align: center;
  margin-top: 5rem;
  position: relative;
  .arrow-left {
    position: absolute;
    top: 50%;
    left: 4%;
    cursor: pointer;
  }
  .arrow-right {
    position: absolute;
    top: 50%;
    right: 4%;
    cursor: pointer;
  }
  .line-left {
    position: absolute;
    background-color: v.$lime;
    width: 65%;
    height: 0.1rem;
    top: 0.6rem;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .line-right {
    position: absolute;
    background-color: v.$lime;
    width: 48.5%;
    height: 0.1rem;
    top: 0.6rem;
    right: -40%;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    margin-top: 2.5rem;
    gap: 2.35rem;
    .best-sellers__card {
      .wishlist {
        width: 1rem;
        position: absolute;
        top: 60%;
        left: 74%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      img {
        width: 9rem;
      }
      &-data {
        margin-top: 1.5rem;
        gap: 0.25rem;
        position: relative;
        max-width: 550px;
        margin-inline: auto;
        .jacket {
          letter-spacing: 0.2rem;
        }
        .manufacturer {
          color: #777;
          margin-top: 0.3rem;
        }
        .button {
          position: relative;
          button {
            font-family: 'Work Sans', sans-serif;
            margin-top: 0.3rem;
          }
          .underline {
            position: absolute;
            width: 4.5rem;
            height: 0.1rem;
            background-color: v.$lime;
            top: 130%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.koiski {
  margin-top: 8rem;
  gap: 1.5rem;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  img {
    width: 90%;
    margin-inline: auto;
    border-radius: 0.2rem;
  }
  p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: v.$lime;
    font-size: 3rem;
    padding: 0.5rem 2.3rem;
    border-radius: 0.2rem;
  }
}

.footer {
  background-color: v.$lime;
  margin-top: 5rem;
  text-align: left;
  padding: 2rem;
  gap: 4rem;

  &__data {
    gap: 1.5rem;
    &-logo img {
      width: 12rem;
    }
    &-links {
      gap: 1rem;
      a {
        color: black;
        font-size: 1.1rem;
      }
    }
  }

  &__newsletter {
    gap: 1.5rem;
    p {
      padding-right: 1rem;
    }
    input[type='email'] {
      border: none;
      outline: none;
      padding: 0.75rem 1.2rem;
      font-family: 'Work Sans', sans-serif;
      font-size: 1rem;
    }
    &-checkbox {
      gap: 0.5rem;
      input {
        outline: none;
        border: none;
      }
    }
    button {
      font-family: 'Work Sans', sans-serif;
      display: flex;
      justify-content: start;
      font-size: 1rem;
    }
  }
}
