@use 'variables' as v;

@media only screen and (min-width: 700px) {
  .header {
    padding: 2rem;
  }

  .header__topbar-actions-shop {
    gap: 1.3rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 834px) {
  .presentation {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 970px) {
  .header {
    padding: 2.5rem;
    border-bottom: none;
  }

  .header__topbar-logo img {
    width: 20rem;
    margin-left: 3.5rem;
  }

  .header__topbar-actions-account {
    display: flex;
  }

  .header__input {
    display: none;
  }
  .header__topbar-actions-menu {
    display: none;
  }

  .header__topbar-actions-shop {
    gap: 1.4rem;
  }

  .header__topbar-input {
    display: flex;
  }

  .header__links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    ul {
      gap: 1rem;
    }
  }

  .hero {
    margin-top: 0rem;
  }

  .shopping-now {
    padding: 1.6rem;
    p {
      font-size: 1.3rem;
    }
  }

  .new-in__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .yellow-jacket {
    margin-top: 0.6rem;
  }

  .line-left {
    width: 87% !important;
    top: 0.9rem !important;
  }

  .line-right {
    width: 55.7% !important;
    top: 0.9rem !important;
  }

  .new-in__paragraph {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1120px) {
  .new-in__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 5rem;
    padding-inline: 4rem;
  }

  .white-jacket {
    margin-top: 0.65rem;
  }

  .yellow-jacket {
    margin-top: 0;
  }

  .camo-jacket {
    margin-top: -0.9rem;
  }

  .camouflage-jacket-paragraph {
    width: 230px;
  }
  .wishlist {
    top: -15% !important;
    left: 100% !important;
  }

  .presentation {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-inline: 3rem;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-inline: 5rem;
  }

  .new-in__card-image img {
    width: 13rem !important;
  }

  .white-jacket {
    margin-top: 1rem !important;
  }

  .yellow-jacket {
    margin-top: -0.5rem !important;
  }

  .camo-jacket {
    margin-top: -1.8rem !important;
  }

  .camouflage-jacket-paragraph {
    width: unset;
  }

  .line-right {
    width: 57% !important;
  }

  .line-left {
    width: 90.7% !important;
  }
}

@media only screen and (min-width: 1360px) {
  .presentation__card {
    width: 26rem;
    height: 26rem;
    h2 {
      font-size: 2rem;
    }
    &-button button {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1660px) {
  .header {
    padding-inline: 9.7rem;
  }

  .header__topbar-logo img {
    width: 30rem;
    margin-left: 4rem;
  }

  .new-in__wrapper {
    padding-inline: 7rem;
  }

  .presentation {
    padding-inline: 8rem;
  }

  .presentation__card {
    width: 29rem;
    height: 29rem;
  }
}

@media only screen and (min-width: 1800px) {
  .presentation__card {
    width: 32rem;
    height: 32rem;
  }
}

@media only screen and (min-width: 1900px) {
  .presentation__card {
    width: 35rem;
    height: 35rem;
  }
}
