@use 'variables' as v;

@media only screen and (min-width: 700px) {
  .header {
    padding: 2rem;
  }

  .header__topbar-actions-shop {
    gap: 1.3rem;
    margin-right: 1rem;
  }

  .koiski {
    grid-template-columns: repeat(3, 1fr);

    p {
      font-size: 4rem;
    }
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 834px) {
  .presentation {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    background-image: url(../images/hero-tablet.png);
  }
}

@media only screen and (min-width: 970px) {
  .header {
    padding: 2.5rem;
    border-bottom: none;
  }

  .header__topbar-logo img {
    width: 20rem;
    margin-left: 3.5rem;
  }

  .header__topbar-actions-account {
    display: flex;
  }

  .header__input {
    display: none;
  }
  .header__topbar-actions-menu {
    display: none;
  }

  .header__topbar-actions-shop {
    gap: 1.4rem;
  }

  .header__topbar-input {
    display: flex;
  }

  .header__links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    ul {
      gap: 1rem;
    }
  }

  .hero {
    margin-top: 0rem;
  }

  .shopping-now {
    padding: 1.6rem;
    p {
      font-size: 1.3rem;
    }
  }

  .new-in__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .best-sellers__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .yellow-jacket {
    margin-top: 0.6rem;
  }

  .line-left {
    width: 87% !important;
    top: 0.9rem !important;
  }

  .line-right {
    width: 55.7% !important;
    top: 0.9rem !important;
  }

  .new-in__paragraph {
    font-size: 1.4rem;
  }

  .best-sellers__paragraph {
    font-size: 1.4rem;
  }

  .best-sellers .line-left {
    width: 77% !important;
  }

  .best-sellers .line-right {
    width: 52.6% !important;
  }

  .best-sellers__wrapper {
    margin-top: 6rem;
  }

  .pink-jacket {
    margin-top: -2rem;
  }

  .koiski {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1120px) {
  .new-in {
    padding-inline: 3rem;
  }

  .best-sellers {
    padding-inline: 3rem;
  }

  .new-in__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 5rem;
    padding-inline: 4rem;
  }

  .best-sellers__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 5rem;
    padding-inline: 4rem;
  }

  .white-jacket {
    margin-top: 0.65rem;
  }

  .yellow-jacket {
    margin-top: 0;
  }

  .camo-jacket {
    margin-top: -0.9rem;
  }

  .camouflage-jacket-paragraph {
    width: 230px;
  }
  .wishlist {
    top: -15% !important;
    left: 100% !important;
  }

  .presentation {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-inline: 3rem;
  }

  .arrow-left,
  .arrow-right {
    display: block;
  }

  .best-sellers__wrapper {
    margin-top: 9rem;
  }

  .pink-jacket {
    margin-top: -2.5rem;
  }

  .koiski {
    grid-template-columns: repeat(6, 1fr);
    gap: 0.65rem;
    img {
      width: 100%;
    }
    p {
      top: 50%;
      font-size: 1.85rem;
      padding: 0.4rem 2.85rem;
    }
  }

  .footer {
    &__data {
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-inline: 5rem;
  }

  .hero {
    background-image: url(../images/hero-desktop.png);
  }

  .new-in__card-image img {
    width: 13rem !important;
  }

  .best-sellers__card-image img {
    width: 13rem !important;
  }

  .white-jacket {
    margin-top: 1rem !important;
  }

  .yellow-jacket {
    margin-top: -0.5rem !important;
  }

  .camo-jacket {
    margin-top: -1.8rem !important;
  }

  .camouflage-jacket-paragraph {
    width: unset;
  }

  .line-right {
    width: 57% !important;
  }

  .line-left {
    width: 90.7% !important;
  }

  .footer {
    padding-inline: 3rem;

    &__data {
      gap: 2.5rem;
    }

    &__newsletter {
      gap: 0.9rem;
    }
  }

  .footer__data-links {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1360px) {
  .presentation__card {
    width: 26rem;
    height: 26rem;
    h2 {
      font-size: 2rem;
    }
    &-button button {
      font-size: 1rem;
    }
  }

  .new-in {
    padding-inline: 5rem;
  }

  .best-sellers {
    padding-inline: 5rem;
  }

  .arrow-left {
    left: 6% !important;
  }

  .arrow-right {
    right: 6% !important;
  }

  .footer {
    gap: 15rem !important;
    margin-top: 3.1rem;

    &__data-links {
      .terms {
        width: 200px;
      }
      .policy {
        width: 170px;
      }
      .contact {
        width: 160px;
      }
    }
  }
}

@media only screen and (min-width: 1660px) {
  .header {
    padding-inline: 9.7rem;
  }

  .header__topbar-logo img {
    width: 30rem;
    margin-left: 4rem;
  }

  .new-in__wrapper {
    padding-inline: 7rem;
  }

  .best-sellers__wrapper {
    padding-inline: 7rem;
  }

  .presentation {
    padding-inline: 8rem;
  }

  .presentation__card {
    width: 29rem;
    height: 29rem;
  }

  .footer {
    padding-inline: 10rem;
    gap: 24.5rem !important;

    &__data {
      gap: 3rem;
    }
    &__newsletter {
      input[type='email'] {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .presentation__card {
    width: 32rem;
    height: 32rem;
  }

  .koiski {
    gap: 0.75rem;
    p {
      font-size: 2.5rem;
      padding: 0.4rem 4.5rem;
      padding-left: 5.3rem;
    }
  }
}

@media only screen and (min-width: 1900px) {
  .presentation__card {
    width: 35rem;
    height: 35rem;
  }

  .arrow-left {
    left: 8% !important;
  }

  .arrow-right {
    right: 8% !important;
  }
}
