*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
.scale-up-ver-center {
  -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.header {
  padding: 1.3rem;
  justify-content: start;
  border-bottom: 1px solid rgba(129, 129, 129, 0.17);
}
.header__topbar {
  justify-content: space-between;
}
.header__topbar-input {
  gap: 0.5rem;
  border-bottom: 1px solid black;
}
.header__topbar-input input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  padding: 0.2rem;
  width: 10rem;
}
.header__topbar-input img {
  margin-bottom: 0.3rem;
}
.header__topbar-logo img {
  width: 8rem;
}
.header__topbar-actions {
  gap: 0.6rem;
}
.header__topbar-actions-account {
  gap: 1.5rem;
  margin-right: 2rem;
  position: relative;
}
.header__topbar-actions-account p {
  cursor: pointer;
}
.header__topbar-actions-account .line {
  position: absolute;
  width: 1px;
  height: 1rem;
  background-color: black;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.header__topbar-actions-shop {
  gap: 0.6rem;
}
.header__topbar-actions-shop img {
  width: 1.25rem;
  cursor: pointer;
}
.header__topbar-actions-menu {
  position: relative;
}
.header__topbar-actions-menu i {
  font-size: 1.5rem;
  cursor: pointer;
}
.header__topbar-actions-menu ul {
  position: absolute;
  top: 3rem;
  right: 0;
  padding: 1rem;
  border-radius: 0.2rem;
  gap: 0.7rem;
  background-color: white;
  box-shadow: 3px 2px 0px 3px rgba(0, 0, 0, 0.09);
}
.header__topbar-actions-menu ul li {
  cursor: pointer;
}
.header__input {
  width: max-content;
  margin-inline: auto;
  margin-top: 1.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid black;
}
.header__input input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  padding: 0.2rem;
}
.header__input img {
  margin-bottom: 0.3rem;
  width: 1rem;
}
.header__links ul {
  gap: 0rem;
  justify-content: space-between;
  width: 85%;
}
.header__links ul li {
  cursor: pointer;
}

.hero {
  background-image: url(../images/hero-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.shopping-now {
  background-color: #E0FF04;
  justify-content: center;
  padding: 1rem;
}
.shopping-now p {
  font-weight: 700;
}

.new-in {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}
.new-in .arrow-left {
  position: absolute;
  top: 50%;
  left: 4%;
  cursor: pointer;
}
.new-in .arrow-right {
  position: absolute;
  top: 50%;
  right: 4%;
  cursor: pointer;
}
.new-in .line-left {
  position: absolute;
  background-color: #E0FF04;
  width: 70%;
  height: 0.1rem;
  top: 0.6rem;
  left: 0;
  transform: translate(-50%, -50%);
}
.new-in .line-right {
  position: absolute;
  background-color: #E0FF04;
  width: 51%;
  height: 0.1rem;
  top: 0.6rem;
  right: -40%;
  transform: translate(-50%, -50%);
}
.new-in__wrapper {
  margin-top: 2.5rem;
  gap: 2.35rem;
}
.new-in__wrapper .new-in__card .wishlist {
  width: 1rem;
  position: absolute;
  top: 60%;
  left: 74%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.new-in__wrapper .new-in__card img {
  width: 9rem;
}
.new-in__wrapper .new-in__card-data {
  margin-top: 1.5rem;
  gap: 0.25rem;
  position: relative;
  max-width: 550px;
  margin-inline: auto;
}
.new-in__wrapper .new-in__card-data .jacket {
  letter-spacing: 0.2rem;
}
.new-in__wrapper .new-in__card-data .manufacturer {
  color: #777;
  margin-top: 0.3rem;
}
.new-in__wrapper .new-in__card-data .button {
  position: relative;
}
.new-in__wrapper .new-in__card-data .button button {
  font-family: "Work Sans", sans-serif;
  margin-top: 0.3rem;
}
.new-in__wrapper .new-in__card-data .button .underline {
  position: absolute;
  width: 4.5rem;
  height: 0.1rem;
  background-color: #E0FF04;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outerwear {
  background-image: url(../images/outwear.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skis {
  background-image: url(../images/skis.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.knitwear {
  background-image: url(../images/knitwear.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.knitwear:after {
  content: "" !important;
  position: absolute !important;
  background-color: #e2ff04bc !important;
  z-index: 5 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.accessories {
  background-image: url(../images/accessories.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.goggles {
  background-image: url(../images/goggles.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jackets {
  background-image: url(../images/jackets.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.presentation {
  margin-top: 5rem;
  gap: 2rem;
}
.presentation__card {
  width: 20rem;
  height: 17rem;
  margin-inline: auto;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  position: relative;
}
.presentation__card:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.presentation__card h2 {
  font-weight: 400;
  z-index: 6;
}
.presentation__card-button {
  border-bottom: 2px solid white;
  gap: 1rem;
  padding: 0.3rem 0;
  z-index: 6;
  margin-top: 0.3rem;
}
.presentation__card-button button {
  color: white;
  font-family: "Work Sans", sans-serif;
}

.best-sellers {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}
.best-sellers .arrow-left {
  position: absolute;
  top: 50%;
  left: 4%;
  cursor: pointer;
}
.best-sellers .arrow-right {
  position: absolute;
  top: 50%;
  right: 4%;
  cursor: pointer;
}
.best-sellers .line-left {
  position: absolute;
  background-color: #E0FF04;
  width: 65%;
  height: 0.1rem;
  top: 0.6rem;
  left: 0;
  transform: translate(-50%, -50%);
}
.best-sellers .line-right {
  position: absolute;
  background-color: #E0FF04;
  width: 48.5%;
  height: 0.1rem;
  top: 0.6rem;
  right: -40%;
  transform: translate(-50%, -50%);
}
.best-sellers__wrapper {
  margin-top: 2.5rem;
  gap: 2.35rem;
}
.best-sellers__wrapper .best-sellers__card .wishlist {
  width: 1rem;
  position: absolute;
  top: 60%;
  left: 74%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.best-sellers__wrapper .best-sellers__card img {
  width: 9rem;
}
.best-sellers__wrapper .best-sellers__card-data {
  margin-top: 1.5rem;
  gap: 0.25rem;
  position: relative;
  max-width: 550px;
  margin-inline: auto;
}
.best-sellers__wrapper .best-sellers__card-data .jacket {
  letter-spacing: 0.2rem;
}
.best-sellers__wrapper .best-sellers__card-data .manufacturer {
  color: #777;
  margin-top: 0.3rem;
}
.best-sellers__wrapper .best-sellers__card-data .button {
  position: relative;
}
.best-sellers__wrapper .best-sellers__card-data .button button {
  font-family: "Work Sans", sans-serif;
  margin-top: 0.3rem;
}
.best-sellers__wrapper .best-sellers__card-data .button .underline {
  position: absolute;
  width: 4.5rem;
  height: 0.1rem;
  background-color: #E0FF04;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.koiski {
  margin-top: 8rem;
  gap: 1.5rem;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
.koiski img {
  width: 90%;
  margin-inline: auto;
  border-radius: 0.2rem;
}
.koiski p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E0FF04;
  font-size: 3rem;
  padding: 0.5rem 2.3rem;
  border-radius: 0.2rem;
}

.footer {
  background-color: #E0FF04;
  margin-top: 5rem;
  text-align: left;
  padding: 2rem;
  gap: 4rem;
}
.footer__data {
  gap: 1.5rem;
}
.footer__data-logo img {
  width: 12rem;
}
.footer__data-links {
  gap: 1rem;
}
.footer__data-links a {
  color: black;
  font-size: 1.1rem;
}
.footer__newsletter {
  gap: 1.5rem;
}
.footer__newsletter p {
  padding-right: 1rem;
}
.footer__newsletter input[type=email] {
  border: none;
  outline: none;
  padding: 0.75rem 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
.footer__newsletter-checkbox {
  gap: 0.5rem;
}
.footer__newsletter-checkbox input {
  outline: none;
  border: none;
}
.footer__newsletter button {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: start;
  font-size: 1rem;
}

@media only screen and (min-width: 700px) {
  .header {
    padding: 2rem;
  }

  .header__topbar-actions-shop {
    gap: 1.3rem;
    margin-right: 1rem;
  }

  .koiski {
    grid-template-columns: repeat(3, 1fr);
  }
  .koiski p {
    font-size: 4rem;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 834px) {
  .presentation {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero {
    background-image: url(../images/hero-tablet.png);
  }
}
@media only screen and (min-width: 970px) {
  .header {
    padding: 2.5rem;
    border-bottom: none;
  }

  .header__topbar-logo img {
    width: 20rem;
    margin-left: 3.5rem;
  }

  .header__topbar-actions-account {
    display: flex;
  }

  .header__input {
    display: none;
  }

  .header__topbar-actions-menu {
    display: none;
  }

  .header__topbar-actions-shop {
    gap: 1.4rem;
  }

  .header__topbar-input {
    display: flex;
  }

  .header__links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .header__links ul {
    gap: 1rem;
  }

  .hero {
    margin-top: 0rem;
  }

  .shopping-now {
    padding: 1.6rem;
  }
  .shopping-now p {
    font-size: 1.3rem;
  }

  .new-in__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .best-sellers__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .yellow-jacket {
    margin-top: 0.6rem;
  }

  .line-left {
    width: 87% !important;
    top: 0.9rem !important;
  }

  .line-right {
    width: 55.7% !important;
    top: 0.9rem !important;
  }

  .new-in__paragraph {
    font-size: 1.4rem;
  }

  .best-sellers__paragraph {
    font-size: 1.4rem;
  }

  .best-sellers .line-left {
    width: 77% !important;
  }

  .best-sellers .line-right {
    width: 52.6% !important;
  }

  .best-sellers__wrapper {
    margin-top: 6rem;
  }

  .pink-jacket {
    margin-top: -2rem;
  }

  .koiski {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1120px) {
  .new-in {
    padding-inline: 3rem;
  }

  .best-sellers {
    padding-inline: 3rem;
  }

  .new-in__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 5rem;
    padding-inline: 4rem;
  }

  .best-sellers__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 5rem;
    padding-inline: 4rem;
  }

  .white-jacket {
    margin-top: 0.65rem;
  }

  .yellow-jacket {
    margin-top: 0;
  }

  .camo-jacket {
    margin-top: -0.9rem;
  }

  .camouflage-jacket-paragraph {
    width: 230px;
  }

  .wishlist {
    top: -15% !important;
    left: 100% !important;
  }

  .presentation {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-inline: 3rem;
  }

  .arrow-left,
.arrow-right {
    display: block;
  }

  .best-sellers__wrapper {
    margin-top: 9rem;
  }

  .pink-jacket {
    margin-top: -2.5rem;
  }

  .koiski {
    grid-template-columns: repeat(6, 1fr);
    gap: 0.65rem;
  }
  .koiski img {
    width: 100%;
  }
  .koiski p {
    top: 50%;
    font-size: 1.85rem;
    padding: 0.4rem 2.85rem;
  }

  .footer__data {
    justify-content: center;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    padding-inline: 5rem;
  }

  .hero {
    background-image: url(../images/hero-desktop.png);
  }

  .new-in__card-image img {
    width: 13rem !important;
  }

  .best-sellers__card-image img {
    width: 13rem !important;
  }

  .white-jacket {
    margin-top: 1rem !important;
  }

  .yellow-jacket {
    margin-top: -0.5rem !important;
  }

  .camo-jacket {
    margin-top: -1.8rem !important;
  }

  .camouflage-jacket-paragraph {
    width: unset;
  }

  .line-right {
    width: 57% !important;
  }

  .line-left {
    width: 90.7% !important;
  }

  .footer {
    padding-inline: 3rem;
  }
  .footer__data {
    gap: 2.5rem;
  }
  .footer__newsletter {
    gap: 0.9rem;
  }

  .footer__data-links {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1360px) {
  .presentation__card {
    width: 26rem;
    height: 26rem;
  }
  .presentation__card h2 {
    font-size: 2rem;
  }
  .presentation__card-button button {
    font-size: 1rem;
  }

  .new-in {
    padding-inline: 5rem;
  }

  .best-sellers {
    padding-inline: 5rem;
  }

  .arrow-left {
    left: 6% !important;
  }

  .arrow-right {
    right: 6% !important;
  }

  .footer {
    gap: 15rem !important;
    margin-top: 3.1rem;
  }
  .footer__data-links .terms {
    width: 200px;
  }
  .footer__data-links .policy {
    width: 170px;
  }
  .footer__data-links .contact {
    width: 160px;
  }
}
@media only screen and (min-width: 1660px) {
  .header {
    padding-inline: 9.7rem;
  }

  .header__topbar-logo img {
    width: 30rem;
    margin-left: 4rem;
  }

  .new-in__wrapper {
    padding-inline: 7rem;
  }

  .best-sellers__wrapper {
    padding-inline: 7rem;
  }

  .presentation {
    padding-inline: 8rem;
  }

  .presentation__card {
    width: 29rem;
    height: 29rem;
  }

  .footer {
    padding-inline: 10rem;
    gap: 24.5rem !important;
  }
  .footer__data {
    gap: 3rem;
  }
  .footer__newsletter input[type=email] {
    width: 100%;
  }
}
@media only screen and (min-width: 1800px) {
  .presentation__card {
    width: 32rem;
    height: 32rem;
  }

  .koiski {
    gap: 0.75rem;
  }
  .koiski p {
    font-size: 2.5rem;
    padding: 0.4rem 4.5rem;
    padding-left: 5.3rem;
  }
}
@media only screen and (min-width: 1900px) {
  .presentation__card {
    width: 35rem;
    height: 35rem;
  }

  .arrow-left {
    left: 8% !important;
  }

  .arrow-right {
    right: 8% !important;
  }
}